{% extends 'base.html.twig' %}

{% block content %}
    <!--Barra Superior de titulo-->
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Hello world</h3>
                <p class="animated fadeInDown">
                    Home <span class="fa-angle-right fa"></span> Credits
                </p>
            </div>
        </div>
    </div>

{% endblock %}
