{% extends 'base.html.twig' %}
{% block body %}
    <div class="instructions">

        <ul id="i-menus">
            <li>
                <a href="#computadora">
                    - ¿Como leer desde tu computadora?
                </a>
            </li>
            <li>
                <a href="#celular">
                    - ¿Como leer desde tu tableta o celular?
                </a>
            </li>
        </ul>
        </br>


        <h2 id="computadora">Lee desde tu computadora</h2>
        <p>
            Para leer los libros desde tu computadora existen dos opciones: plugins en tu explorador Firefox o
            Chrome, o con software de terceros.
        </p>

        <h3>Plugin en el explorador</h3>

        <h4>Firefox</h4>
        <p>
            En Firefox los plugins se denominan como «complementos». El complemento

            recomendado para este explorador es EPUBReader. Su instalación es como la de cualquier

            otro plugin. ¿No sabes cómo instalar un complemento? No te preocupes, la fundación

            Mozilla (los responsables del desarrollo de Firefox) provee un tutorial para aprender a

            hacerlo. (<a target="_blank" href="https://support.mozilla.org/en-US/kb/find- and-install- add-ons- add-features- to-firefox">
                https://support.mozilla.org/en-US/kb/find- and-install- add-ons- add-features- to-firefox
            </a>)
        </p>

        <h5>Instrucciones</h5>
        <p>
            Una vez instalado EPUBReader, lo que tienes que hacer es lo siguiente:
        </p>
        <ul>
            <li>1. Abre una nueva pestaña, presionando el símbolo de «+» que aparece en la parte
                superior derecha de Firefox.
            </li>

            <li>2. Arrastra el libro electrónico en formato EPUB a la pestaña.</li>

            <li>3. ¡Listo! EPUBReader y Firefox cargarán el libro para que puedas leerlo.</li>
        </ul>

        <h4>Chrome</h4>
        <p>
            En Chrome los plugins son llamados «complementos», y los tipos de complementos que

            pueden leer libros EPUB son las aplicaciones de Chrome. La aplicación recomendada para

            este explorador es Readium. Su instalación es como la de cualquier otro plugin. ¿No sabes

            cómo instalar un complemento? No hay problema, Google (la empresa que desarrolla

            Chrome) tiene un tutorial para ayudarte.

            (<a target="_blank" href="https://support.google.com/chrome_webstore/answer/2664769?rd=2">https://support.google.com/chrome_webstore/answer/2664769?rd=2)</a>
        </p>

        <h5>Instrucciones</h5>

        <p>
            Una vez instalado Readium, lo que tienes que hacer es lo siguiente:
        </p>

        <ul>
            <li>1. En Chrome abre la siguiente dirección: chrome://apps/.</li>

            <li>2. Haz clic en Readium para abrir la aplicación.</li>

            <li>3. Arrastra el libro electrónico en formato EPUB a Readium.</li>

            <li>4. Una vez terminada la importación, haz clic sobre el ebook.</li>

            <li>5. ¡Listo! Readium cargará el libro para que puedas leerlo.</li>
        </ul>

        <br><br>
        <h3>Software de terceros</h3>

        <p>
            Si no tienes instalado Firefox o Chrome, o no deseas leer los libros electrónicos de esa

            manera, la otra opción posible es instalar un programa en tu computadora. Dentro de la

            variedad de lectores EPUB disponibles, te recomendamos los siguientes que son gratuitos.
        </p>

        <h4>Calibre</h4>

            <p>
                Calibre es un gestor de libros electrónicos que nos ayudará a administrar nuestros ebooks

                de una manera muy sencilla. Este software está disponible para Windows, Mac y Linux.

                Para usarlo primero es necesario descargarlo. Su instalación es como cualquier otro

                programa de terceros.
            </p>

            <p>Si no sabes cómo instalar un programa en Windows, da clic aquí. (<a target="_blank" href="http://calibre-ebook.com/download">http://calibre-ebook.com/download</a>)</p>


            <h5>Instrucciones</h5>
            <p>
                Una vez instalado Calibre, lo que tienes que hacer es lo siguiente:
            </p>

            <ul>

                <li>1. Abre Calibre.</li>

                <li>2. Calibre te va a preguntar por el idioma y la carpeta por defecto. Si no deseas o no

                    sabes cambiar la configuración predeterminada, solo da clic en «Siguiente».
                </li>

                <li>3. A continuación, te pregunta si cuentas con algún tipo de lector electrónico. Si no

                    tienes ninguno o desconoces el modelo de tu e-reader, presiona en «Siguiente».
                </li>

                <li>4. Calibre de indicará que la configuración ha terminado. Da clic en «Finalizar».</li>

                <li>5. Arrastra el libro electrónico en formato EPUB a Calibre.</li>

                <li>6. Selecciona el ebook que quieres leer y, en el panel derecho, presiona sobre «EPUB».</li>

                <li>7. ¡Listo! Calibre cargará el libro para que puedas leerlo.</li>

            </ul>

            <h4>Adobe Digital Editions</h4>

            <p>
                Adobe Digital Editions es un gestor de libros electrónicos que nos permitirá leer nuestros

                ebooks de una manera muy sencilla. Este software esta disponible para Windows y Mac.

                Para usarlo primero es necesario descargarlo. Su instalación es como cualquier otro

                programa de terceros. (<a target="_blank" href="https://www.adobe.com/solutions/ebook/digital-editions/download.html">https://www.adobe.com/solutions/ebook/digital-editions/download.html</a>)
            </p>

            <h5>Instrucciones</h5>

            <p>Una vez instalado Adobe Digital Editions, lo que tienes que hacer es lo siguiente:</p>

            <ul>
                <li>1. Abre Adobe Digital Editions.</li>

                <li>2. Arrastra el libro electrónico en formato EPUB a Adobe Digital Editions.</li>

                <li>3. Da clic en el ebook que quieres leer.</li>

                <li>4. ¡Listo! Adobe Digital Editions cargará el libro para que puedas leerlo.</li>
            </ul>


            <h4>iBooks</h4>

            <p>
                Por defecto en las computadoras Mac OS X cuentan con iBooks, la aplicación oficial de

                Apple (empresa que desarrolla Mac OS) para la lectura de ebooks. Si cuentas con este

                sistema operativo, solo es necesario hacer doble clic en el libro EPUB para leerlo

                inmediatamente.
            </p>

            <p>

                Si por algún motivo tu computadora Mac no cuenta con iBooks, puedes instalar esta

                aplicación desde la App Store.
            </p>


            <h4>Sumatra PDF</h4>

            <p>
                Sumatra PDF es un lector de PDF, EPUB, MOBI, CHM, XPS, DjVu, CBZ y CBR para Windows.

                Para usarlo primero es necesario descargarlo. Su instalación es como cualquier otro

                programa de terceros. (<a target="_blank" href="http://www.sumatrapdfreader.org/download-free-pdf-viewer-es.html">http://www.sumatrapdfreader.org/download-free- pdf-viewer-es.html</a>)</p>

            <h5>Instrucciones</h5>

            <p>
                Una vez instalado Sumatra PDF, lo que tienes que hacer es lo siguiente:
            </p>
            <ul>

                <li>1. Abre Sumatra PDF.</li>

                <li>2. Arrastra el libro electrónico en formato EPUB a Sumatra PDF.</li>

                <li>3. ¡Listo! Sumatra PDF cargará el libro para que puedas leerlo.</li>
            </ul>

        <br><br><br>
            <h2 id="celular">Lee desde tu tableta o celular</h2>

            <p>
                Para poder leer los libros desde tu tableta o teléfono celular, solo necesitas instalar un

                lector de libros EPUB gratuito. No importa si tu dispositivo es Android, iOS o Windows

                Phone, en cualquier de estos sistemas existen buenas apps para esta tarea.

            </p>


            <h4>Android</h4>


                <p>

                    La mejor alternativa para leer ebooks en Android es Google Play Books. Esta app es la

                    aplicación oficial de Google (empresa que desarrolla Android) para leer libros electrónicos,

                    por lo que la calidad está garantizada.
                </p>

                <p>
                    Por lo general los dispositivos Android ya tienen preinstalado Google Play Books. Si no es

                    tu caso, puedes descargar la aplicación en este enlace.

                    (<a target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.apps.books">https://play.google.com/store/apps/details?id=com.google.android.apps.books</a>)
                </p>


                <h4>iOS</h4>

                <p>

                    La mejor alternativa para leer ebooks en iOS es iBooks. Esta app es la aplicación oficial de

                    Apple (empresa que desarrolla iOS) para leer libros electrónicos, por lo que la calidad está

                    garantizada.
                </p>

                <p>
                    Por lo general los dispositivos iOS ya tienen preinstalado iBooks. Si no es tu caso, puedes

                    descargar la aplicación en este enlace.

                    (<a target="_blank" href="https://itunes.apple.com/mx/app/ibooks/id364709193?mt=8">https://itunes.apple.com/mx/app/ibooks/id364709193?mt=8</a>)
                </p>

                <h4>Windows Phone</h4>

                <p>
                    La mejor alternativa para leer ebooks en Windows Phone es Bookviser Reader. Esta

                    aplicación es desarrollada por Bookviser.
                </p>
    </div>
{% endblock %}